.button {
    -fx-cursor: pointer;
    -fx-padding: 10px;
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 13px;
}

.button:hover, .text-field:hover, .button:focused, .text-field:focused {
    -fx-border-color: #27ae60;
    -fx-border-width: 0 0 2 0;

}

.root {
    -fx-background-color: #516573;
}

.label, .text-field {
    -fx-font-size: 14px;
    -fx-font-family: "Fira Code Medium";
    -fx-text-fill: white;
    -fx-background-color: transparent;
}

#sourceActionStatus {
    -fx-background-color: #27ae60;
    -fx-text-fill: cornsilk;
}


